body {
  background-color: var(--grey-4);
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  justify-content: center;
}

.App-Main {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 48px;

  max-width: 988px;
  width: 100%;
  height: 100vh;
  padding-bottom: 50px;

  margin: 40px 0;
}

.App-Main > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  gap: 28px;
  color: #fff;
  text-align: start;
}

.App-Main > div > h1 {
  font-size: 38px;
  font-weight: 800;
}

.App-Main > div > span {
  font-size: 16px;
  font-weight: 400;
}

.App-Main > div > button {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 241px;
  height: 50px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
}

.App-Main > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  min-width: 280px;
  max-width: 600px;
}

.App-Main > figure > img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (min-width: 627px) {
  .App-Main {
    width: 90%;
    flex-direction: row;
  }

  .App-Main > div {
    width: 50%;
  }

  .App-Main > figure {
    width: 50%;
  }
}
